In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv("drug200.csv")

In [27]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [28]:
set(data['Drug'])

{'drugA', 'drugB', 'drugC', 'drugX', 'drugY'}

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
# OHE ==> TO_CATEGORICAL ==> OUTPUT(TARGET) PREPROCESSOR IN THE DEEP LEARNING

In [7]:
data.select_dtypes(include = ['object']).columns

Index(['Sex', 'BP', 'Cholesterol', 'Drug'], dtype='object')

In [8]:
object_columns = data.select_dtypes(include = ['object']).columns

In [9]:
object_columns

Index(['Sex', 'BP', 'Cholesterol', 'Drug'], dtype='object')

In [10]:
for i in object_columns:
    le = LabelEncoder()
    data[i] = le.fit_transform(data[i])

In [11]:
data

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     4
1     47    1   1            0   13.093     2
2     47    1   1            0   10.114     2
3     28    0   2            0    7.798     3
4     61    0   1            0   18.043     4
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     2
196   16    1   1            0   12.006     2
197   52    1   2            0    9.894     3
198   23    1   2            1   14.020     3
199   40    0   1            1   11.349     3

[200 rows x 6 columns]

In [12]:
X = data.drop('Drug',axis = 1) #IV
y = data['Drug']

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,y, test_size=0.2)

In [15]:
xtrain.shape

(160, 5)

In [16]:
xtest.shape

(40, 5)

In [17]:
from sklearn.svm import SVC

In [18]:
clf = SVC(kernel = "rbf")

In [19]:
clf.fit(xtrain, ytrain)

SVC()

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
ypred = clf.predict(xtest)

In [22]:
accuracy_score(ytest,ypred)

0.825

In [23]:
import pickle

In [25]:
with open("svc_model.pkl","wb") as f:
    pickle.dump(clf,f)